<div class="container">
  <p>button</p>
  <div class="example">
    <p>Library</p>
    <troy-button [upperCase]="true" [color]="'success'" [customBGColor]="'#000000'">test</troy-button>
  </div>
  <div class="example">
    <p>Local</p>
    <app-button [upperCase]="true" [color]="'success'" [customBGColor]="'#000000'">Button</app-button>
  </div>

  <p>banner</p>
  <div class="example">
    <p>Library</p>
    <troy-banner [color]="'info'" [primaryText]="'This is a banner'" [detailMessages]="['test']" [showClose]="true">
    </troy-banner>
  </div>
  <div class="example">
    <p>Local</p>
    <app-banner [color]="'info'" [primaryText]="'This is a banner'" [detailMessages]="['test']" [showClose]="true">
    </app-banner>
  </div>
</div>