<div *ngIf="showBanner" class="banner banner-{{ color }}">
    <div class="content-section">
        <ng-container
            [ngTemplateOutlet]="detailedMessages!.length > 0 ? detailBanner : singleLineBanner"></ng-container>
    </div>
</div>


<ng-template #singleLineBanner>

    <div class="single-header">
        <div class="primary-text">{{ primaryText }} </div>
        <div *ngIf="showClose" class="close clickable" [class.close-with-detail]="detailedMessages!.length > 0"
            (click)="onCloseClick()"></div>

    </div>
</ng-template>


<ng-template #detailBanner>
    <div class="detail-header">
        <span class="primary-text clickable" (click)="onExpandCollapse()">
            <span class="banner-expander banner-expander-{{ color }}"
                [ngClass]="isExpanded ? 'expanded' : 'collapsed'"></span>
            <b>{{ primaryText }}</b>
        </span>
        <div *ngIf="showClose" class="close clickable" [class.close-with-detail]="detailedMessages!.length > 0"
            (click)="onCloseClick()"></div>
    </div>
    <app-expandable [expanded]="isExpanded">
        <ul [ngClass]="detailedMessages?.length == 1 ? 'single-detail-message' : 'multiple-detail-messages'">
            <li *ngFor="let msg of detailedMessages">
                {{ msg }}
            </li>
        </ul>
    </app-expandable>
</ng-template>