.banner {
    user-select: none;
    display: flex;
    border-radius: 4px;
    padding: 8px 24px;
}

.content-section {
    flex-grow: 1;
}

.banner-info {
    background-color: #ECDDFF;
    color: #9747FF;
}

.banner-success {
    background-color: lightgreen;
    color: green;
}

.banner-warning {
    background-color: lightyellow;
    color: orange;
}

.banner-error {
    background-color: lightpink;
    color: darkred;
}

.banner-expander {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    // height: 0;
    margin-right: 8px;
    position: relative;

    &.expanded {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        top: -2px;
    }

    &.collapsed {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);

    }
}

.banner-expander-info {
    border-color: #9747FF;
}

.banner-expander-success {
    border-color: green;
}

.banner-expander-warning {
    border-color: orange;
}

.banner-expander-error {
    border-color: darkred;
}

.close {
    float: right;

    &::before {
        content: '\2715';
    }
}

.detail-header {
    display: flex;
}

.single-detail-message {
    padding-left: 32px;
}

.single-header {
    display: flex;

}



.multiple-detail-messages {
    padding-left: 32px;
}

.primary-text {
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
}

.clickable {
    cursor: pointer;
}